* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-image: linear-gradient(90deg, #ffecd6, #ebfffe);
}

.App {
  text-align: center;
}

.button {
  margin-right: 80px !important;
}

.ui {
  /* background-color: red; */
  padding: 20px 10px 50px 10px;
  border: 1px solid #00bbae;
  border-radius: 5px;
}

.button {
  background-color: #00bbae;
  border: none;
  padding: 10px 25px;
  font-size: 18px;
}

.button:hover {
  background-color: #09a096;
}
